.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn {
  width: 40px;
  height: 30px;
  border-radius: 5px;
  border: transparent;
  margin: 10px 5px;
  cursor: pointer;
  transition: .15s;
}

.btn_is-Pressed {
  background-color: darkcyan;
  color: aliceblue;
}
